<h1>Aqui é a sua loja!</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= link_to 'Products', products_path %>
    </div>
    <div class="col-sm">
      <%= link_to 'Categories', categories_path %>
    </div>
    <div class="col-sm">
      <%= link_to 'Sales', sales_path %>
    </div>
  </div>
</div>